$social-tags: '#drupalcon @drupalmedia @davereid';
$brand-small-icon-size: 30px;
$brand-icon: '../../images/portland2013/portland-icon.png';
$brand-small-icon: '../../images/portland2013/portland-icon.png';

$gray-1: #e6e6e6;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #515151;

$brand-teal: #11a9a1;

$brand-blue: rgb(67, 135, 253);
$brand-blue-secondary: #3c8ef3;
$brand-blue-secondary2: #2a7cdf;

$brand-red: rgb(244, 74, 63);
$brand-red-secondary: #e0543e;
$brand-red-secondary2: #d94d3a;

$brand-yellow: rgb(255, 209, 77);
$brand-yellow-secondary: #f9cc46;
$brand-yellow-secondary2: #f6c000;

$brand-green: rgb(13, 168, 97);
$brand-green-secondary: #00a86d;
$brand-green-secondary2: #009f5d;

$slide-width: 950px;
$slide-height: 740px;
$slide-width-widescreen: 1150px;
$slide-top-bottom-padding: 30px;
$slide-left-right-padding: 60px;
$slide-border-radius: 5px;

$slide-tap-area-width: 100px;

$article-content-top-padding: 20px;
